@use "sass:map";
@import "base";
@import "normalize.css";
@import "fonts";
@include site-fonts;

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

header {
	//
}

body {
	min-width: 320px;
	background: linear-gradient(0deg, #000, #5b272c) !important;
	// background-image: url('/public/files/images/preloader/bg.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100dvh;
	width: 100%;
	color: $body-text-color;
	font-family: $body-font-family;
	overflow: hidden;
}

footer {
	//
}

img {
	max-width: 100%;
}

h1,
.h1 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 56px;
	}

	@include breakpoint("middle") {
		font-size: 67px;
	}

	@include breakpoint("desktop") {
		font-size: 72px;
	}
}

h2,
.h2 {
	margin: 0;
	padding: 0;
	font-size: 26px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 36px;
	}

	@include breakpoint("middle") {
		font-size: 40px;
	}

	@include breakpoint("desktop") {
		font-size: 56px;
	}
}

h3,
.h3 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 40px;
	}

	@include breakpoint("middle") {
		font-size: 44px;
	}

	@include breakpoint("desktop") {
		font-size: 50px;
	}
}

h4,
.h4 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 28px;
	}

	@include breakpoint("middle") {
		font-size: 30px;
	}

	@include breakpoint("desktop") {
		font-size: 40px;
	}
}

.pre-title1 {
	font-size: 28px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 45px;
	}

	@include breakpoint("middle") {
		font-size: 50px;
	}

	@include breakpoint("desktop") {
		font-size: 64px;
	}
}

.pre-title2 {
	font-size: 22px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 26px;
	}

	@include breakpoint("middle") {
		font-size: 29px;
	}

	@include breakpoint("desktop") {
		font-size: 36px;
		font-weight: 400;
	}
}

.pre-title2-bold {
	font-size: 22px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 26px;
	}

	@include breakpoint("middle") {
		font-size: 29px;
	}

	@include breakpoint("desktop") {
		font-size: 36px;
	}
}

.pre-title3 {
	font-size: 20px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 22px;
	}

	@include breakpoint("middle") {
		font-size: 25px;
	}

	@include breakpoint("desktop") {
		font-size: 32px;
	}
}

.pre-title3-bold {
	font-size: 20px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 22px;
	}

	@include breakpoint("middle") {
		font-size: 25px;
	}

	@include breakpoint("desktop") {
		font-size: 32px;
	}
}

.pre-title4 {
	font-size: 22px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 28px;
	}

	@include breakpoint("middle") {
		font-size: 36px;
	}

	@include breakpoint("desktop") {
		font-size: 40px;
	}
}

.pre-title5 {
	font-size: 18px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 24px;
	}

	@include breakpoint("middle") {
		font-size: 28px;
	}

	@include breakpoint("desktop") {
		font-size: 30px;
	}
}

.texts1 {
	font-size: 20px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 22px;
	}

	@include breakpoint("middle") {
		font-size: 24px;
	}
}

.texts2 {
	font-size: 18px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 20px;
	}
}

.texts3 {
	font-size: 14px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("tablet") {
		font-size: 16px;
	}

	@include breakpoint("middle") {
		font-size: 18px;
	}
}

.menu-points {
	font-size: 16px;
	line-height: 120%;
	font-weight: 500;

	@include breakpoint("middle") {
		font-size: 20px;
	}
}

.texts4-bold {
	font-size: 16px;
	line-height: 120%;
	font-weight: 600;

	@include breakpoint("tablet") {
		font-size: 22px;
	}

	@include breakpoint("middle") {
		font-size: 24px;
	}
}

p,
div,
a,
li {
	margin: 0;
	padding: 0;
}

.l-content-container {
	width: 100%;
	margin: 0 auto;

	@include content-container;
}

.l-content-container-left {
	width: 100%;

	@include content-container("left");
}

.l-content-container-right {
	width: 100%;

	@include content-container("right");
}

.l-main-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

// Класс для контента из визуального редактора (HTML контент)
.c-content {
	p {
		margin-bottom: 30px;
	}

	h4 {
		font-size: 20px;
		font-weight: 500;
		line-height: 120%;

		@include breakpoint("tablet") {
			font-size: 22px;
		}

		@include breakpoint("middle") {
			font-size: 25px;
		}

		@include breakpoint("desktop") {
			font-size: 32px;
		}
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-bottom: 15px;

			&::before {
				content: "";
				display: flex;
				flex: 0 0 auto;
				width: 10px;
				height: 10px;
				background-color: $color-blue;
				border-radius: 50%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

iframe {
	max-width: 1200px;
	width: 100% !important;
	height: auto !important;
	aspect-ratio: 16/9;
}

// Отступы
@each $name, $indent in $indents {
	.margin-#{"" + $name} {
		&-top {
			@include color-indent($name, true, true);
		}

		&-bottom {
			@include color-indent($name, false, true);
		}
	}

	.padding-#{"" + $name} {
		&-top {
			@include color-indent($name, true, false);
		}

		&-bottom {
			@include color-indent($name, false, false);
		}
	}
}
